@using FlexPro.Api.Domain.Entities
@model Informativo

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informativo</title>
</head>
<body>
<div data-layer="Desktop" class="Desktop" style="width: 1920px; height: 6269px; position: relative; background: white">
    <div data-layer="Faturamento" class="Faturamento" style="width: 1920px; height: 1170px; left: 0px; top: 5103px; position: absolute; background: #252D61; overflow: hidden">
        <div data-layer="FATURAMENTO MENSAL" class="FaturamentoMensal" style="width: 664px; left: 85px; top: 429px; position: absolute; color: white; font-size: 80px; font-family: Montserrat; font-weight: 700; line-height: 97.50px; word-wrap: break-word">FATURAMENTO MENSAL</div>
        <div data-svg-wrapper data-layer="Vector" class="Vector" style="left: 1145.71px; top: 145.27px; position: absolute">
            <svg width="775" height="1002" viewBox="0 0 775 1002" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.6421 552.92C-9.26226 529.808 -9.26222 472.192 30.6422 449.08L791.428 8.43873C831.428 -14.7289 881.5 14.134 881.5 60.3588V941.641C881.5 987.866 831.428 1016.73 791.428 993.561L30.6421 552.92Z" fill="#F2F2F2"/>
            </svg>
        </div>
        <div data-layer="$ 16.562,52" class="1656252" style="width: 695px; height: 244px; left: 1225px; top: 530px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #252D61; font-size: 100px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 121.88px; word-wrap: break-word">R$ @Model.FaturamentoTotal </div>
        <div data-layer="Line 2" class="Line2" style="width: 1000px; height: 0px; left: 86px; top: 625px; position: absolute; outline: 1px white solid; outline-offset: -0.50px"></div>
        <div data-layer="Este valor representa a sua confiança nos nossos produtos/serviços e reforça a parceria que estamos construindo. Agradecemos pela preferência e seguimos comprometidos em oferecer sempre a melhor experiência e resultados." class="EsteValorRepresentaASuaConfianANosNossosProdutosServiOsEReforAAParceriaQueEstamosConstruindoAgradecemosPelaPreferNciaESeguimosComprometidosEmOferecerSempreAMelhorExperiNciaEResultados" style="width: 941px; height: 264px; left: 85px; top: 652px; position: absolute; color: white; font-size: 35px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Este valor representa a sua confiança nos nossos produtos/serviços e reforça a parceria que estamos construindo. Agradecemos pela preferência e seguimos comprometidos em oferecer sempre a melhor experiência e resultados.</div>
    </div>
    <div data-layer="Manutenções realizadas" class="ManutenEsRealizadas" style="width: 1920px; height: 1013px; left: 0px; top: 4090px; position: absolute; background: #252D61; overflow: hidden">
        <div data-layer="Rectangle 14" class="Rectangle14" style="width: 440px; height: 413px; left: 65px; top: 583px; position: absolute; background: white"></div>
        <div data-layer="Rectangle 15" class="Rectangle15" style="width: 467px; height: 413px; left: 664px; top: 583px; position: absolute; background: white"></div>
        <div data-layer="Rectangle 16" class="Rectangle16" style="width: 467px; height: 413px; left: 1253px; top: 583px; position: absolute; background: white"></div>
        <div data-layer="MANUTENÇÕES REALIZADAS" class="ManutenEsRealizadas" style="width: 433px; left: 89.07px; top: 430px; position: absolute; color: white; font-size: 48px; font-family: Montserrat; font-weight: 700; line-height: 58.50px; word-wrap: break-word">MANUTENÇÕES<br/>REALIZADAS</div>
        <div data-layer="VALOR DAS PEÇAS TROCADAS" class="ValorDasPeAsTrocadas" style="width: 475px; left: 663px; top: 430px; position: absolute; color: white; font-size: 48px; font-family: Montserrat; font-weight: 700; line-height: 58.50px; word-wrap: break-word">VALOR DAS PEÇAS TROCADAS</div>
        <div data-layer="Line 2" class="Line2" style="width: 424.14px; height: 0px; left: 81px; top: 594.50px; position: absolute; outline: 1px white solid; outline-offset: -0.50px"></div>
        <div data-layer="Line 4" class="Line4" style="width: 424.14px; height: 0px; left: 680px; top: 594.50px; position: absolute; outline: 1px white solid; outline-offset: -0.50px"></div>
        <div data-layer="2" style="width: 437px; height: 401px; left: 68px; top: 595px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #252D61; font-size: 150px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 182.81px; word-wrap: break-word">2</div>
        <div data-layer="$ 248,35" class="24835" style="width: 450px; height: 413px; left: 667px; top: 583px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #252D61; font-size: 100px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 121.88px; word-wrap: break-word">R$ @Model.ValorDePeçasTrocadas </div>
        <div data-layer="MÉDIA DE DIAS PARA ATENDIMENTO" class="MDiaDeDiasParaAtendimento" style="width: 540px; left: 1252px; top: 438px; position: absolute; color: white; font-size: 45px; font-family: Montserrat; font-weight: 700; line-height: 54.84px; word-wrap: break-word">MÉDIA DE DIAS PARA <br/>ATENDIMENTO</div>
        <div data-layer="Line 3" class="Line3" style="width: 480px; height: 0px; left: 1253px; top: 595px; position: absolute; outline: 1px white solid; outline-offset: -0.50px"></div>
        <div data-layer="3" style="width: 467px; height: 413px; left: 1253px; top: 583px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #252D61; font-size: 150px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 182.81px; word-wrap: break-word">@Model.MediaDiasAtendimento</div>
    </div>
    <div data-layer="Quantidade de litros" class="QuantidadeDeLitros" style="width: 1920px; height: 1013px; left: 0px; top: 3077px; position: absolute; background: #252D61; overflow: hidden">
        <div data-layer="Parabéns pela excelente escolha ao adquirir nossos produtos! A quantidade de litros/kg comprados reflete sua confiança em nossa qualidade e no compromisso com a eficiência." class="ParabNsPelaExcelenteEscolhaAoAdquirirNossosProdutosAQuantidadeDeLitrosKgCompradosRefleteSuaConfianAEmNossaQualidadeENoCompromissoComAEficiNcia" style="width: 941px; height: 264px; left: 934px; top: 543px; position: absolute; color: white; font-size: 35px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Parabéns pela excelente escolha<br/>ao adquirir nossos produtos!<br/>A quantidade de litros/kg comprados reflete <br/>sua confiança em nossa qualidade e no compromisso com a eficiência. </div>
        <div data-layer="QUANTIDADE DE LITROS / PRODUTOS COMPRADOS" class="QuantidadeDeLitrosProdutosComprados" style="width: 962px; left: 934px; top: 213px; position: absolute; color: white; font-size: 80px; font-family: Montserrat; font-weight: 700; line-height: 97.50px; word-wrap: break-word">QUANTIDADE DE LITROS / PRODUTOS COMPRADOS</div>
        <div data-svg-wrapper data-layer="Vector" class="Vector" style="left: -123px; top: 46px; position: absolute">
            <svg width="707" height="967" viewBox="0 0 707 967" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M681.107 451.985C715.631 473.49 715.631 519.509 681.107 541.014L-28.9524 983.321C-68.7327 1008.11 -123 982.42 -123 938.808V54.1907C-123 10.5818 -68.7327 -15.1044 -28.9524 9.67551L681.107 451.985Z" fill="#F2F2F2"/>
            </svg>
        </div>
        <div data-layer="1.090" class="090" style="width: 707px; height: 399px; left: -95px; top: 327px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #232E61; font-size: 200px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 243.75px; word-wrap: break-word">@Model.QuantidadeDeLitros</div>
    </div>
    <div data-layer="Quantidade de produtos" class="QuantidadeDeProdutos" style="width: 1920px; height: 1013px; left: 0px; top: 2064px; position: absolute; background: #252D61; overflow: hidden">
        <div data-layer="Rectangle 13" class="Rectangle13" style="width: 526px; height: 88px; left: 282px; top: 418px; position: absolute; background: #41BEB0; border-radius: 20px"></div>
        <div data-layer="QUANTIDADE DE PRODUTOS COMPRADOS" class="QuantidadeDeProdutosComprados" style="width: 941px; left: 137px; top: 315px; position: absolute"><span style="color: white; font-size: 80px; font-family: Montserrat; font-weight: 700; line-height: 97.50px; letter-spacing: 4px; word-wrap: break-word">QUANTIDADE<br/>DE </span><span style="color: #252D61; font-size: 80px; font-family: Montserrat; font-weight: 700; line-height: 97.50px; letter-spacing: 4px; word-wrap: break-word">PRODUTOS </span><span style="color: white; font-size: 80px; font-family: Montserrat; font-weight: 700; line-height: 97.50px; letter-spacing: 4px; word-wrap: break-word">COMPRADOS</span></div>
        <div data-layer="Você fez a escolha certa adquirindo nossos produtos! A quantidade adquirida demonstra a confiança na qualidade e eficiência que oferecemos." class="VocFezAEscolhaCertaAdquirindoNossosProdutosAQuantidadeAdquiridaDemonstraAConfianANaQualidadeEEficiNciaQueOferecemos" style="width: 672px; height: 90px; left: 138px; top: 609px; position: absolute; color: white; font-size: 25px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Você fez a escolha certa adquirindo nossos produtos! A quantidade adquirida demonstra a confiança na qualidade e eficiência que oferecemos.</div>
        <div data-svg-wrapper data-layer="Vector" class="Vector" style="left: 1134.18px; top: -25.19px; position: absolute">
            <svg width="786" height="1013" viewBox="0 0 786 1013" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.4574 545.038C-9.5798 521.768 -9.57992 465.232 29.4573 441.962L798.778 -16.6353C838.772 -40.4762 889.5 -11.6584 889.5 34.9024V952.098C889.5 998.66 838.772 1027.48 798.778 1003.64L29.4574 545.038Z" fill="#F2F2F2"/>
            </svg>
        </div>
        <div data-layer="1.500" class="500" style="width: 511px; left: 1275px; top: 384px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #252D61; font-size: 200px; font-family: Montserrat; font-style: italic; font-weight: 600; line-height: 243.75px; word-wrap: break-word">@Model.QuantidadeDeProdutos</div>
    </div>
    <div data-layer="Produto mais comprado" class="ProdutoMaisComprado" style="width: 1921px; height: 981px; left: 0px; top: 1083px; position: absolute; overflow: hidden">
        <div data-layer="fundo azul" class="FundoAzul" style="width: 1920px; height: 1080px; left: 0px; top: -99px; position: absolute; background: #232E61"></div>
        <img data-layer="Produtos Catálogo 1" class="ProdutosCatLogo1" style="width: 1125.27px; height: 831px; left: 0px; top: 91px; position: absolute" src="https://placehold.co/1125x831" />
        <div data-layer="PROAUTO MULT 200 05 LT GL NATURAL" class="ProautoMult20005LtGlNatural" style="left: 827px; top: 219px; position: absolute; color: white; font-size: 82px; font-family: Montserrat; font-weight: 800; line-height: 99.94px; word-wrap: break-word">@Model.ProdutoEmDestaque</div>
        <div data-layer="Rectangle 7" class="Rectangle7" style="width: 884px; height: 97px; left: 827px; top: 409px; position: absolute; background: #41BEB0; border-radius: 20px"></div>
        <div data-layer="Produto mais comprado" class="ProdutoMaisComprado" style="width: 824px; height: 85px; left: 857px; top: 415px; position: absolute; color: white; font-size: 65px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Produto mais comprado</div>
        <div data-layer="Este é o produto que conquistou sua preferência. Qualidade e eficiência fazem dele a sua escolha número um. Continue aproveitando tudo o que ele tem a oferecer!" class="EsteOProdutoQueConquistouSuaPreferNciaQualidadeEEficiNciaFazemDeleASuaEscolhaNMeroUmContinueAproveitandoTudoOQueEleTemAOferecer" style="width: 900px; height: 186px; left: 827px; top: 558px; position: absolute; color: white; font-size: 36px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Este é o produto que conquistou sua preferência.<br/>Qualidade e eficiência fazem dele a sua escolha<br/>número um. Continue aproveitando tudo o que<br/>ele tem a oferecer!</div>
    </div>
    <div data-layer="Home" class="Home" style="width: 1919px; height: 1083px; left: 0px; top: 0px; position: absolute; background: white; overflow: hidden">
        <div data-layer="Fevereiro - 2025" class="Fevereiro2025" style="left: 554px; top: 338px; position: absolute; color: #57C1AB; font-size: 96px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">@Model.Mes - 2025</div>
        <img data-layer="Prancheta 6 1" class="Prancheta61" style="width: 1212.69px; height: 125px; left: 353.66px; top: 73px; position: absolute" src="https://placehold.co/1213x125" />
        <div data-layer="Olá, CLIENTE! Veja como foi seu desempenho neste mês com a Proauto Kimium" class="OlClienteVejaComoFoiSeuDesempenhoNesteMSComAProautoKimium" style="left: 272px; top: 455px; position: absolute; text-align: center"><span style="color: #232E61; font-size: 48px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Olá, </span><span style="color: #232E61; font-size: 48px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">@Model.NomeDoCliente</span><span style="color: #232E61; font-size: 48px; font-family: Montserrat; font-weight: 500; word-wrap: break-word"> Veja como foi seu desempenho neste mês<br/>com a </span><span style="color: #232E61; font-size: 48px; font-family: Montserrat; font-weight: 700; word-wrap: break-word">Proauto Kimium</span></div>
        <div data-layer="Rectangle 2" class="Rectangle2" style="width: 793px; height: 108px; left: 563px; top: 735px; position: absolute; background: #232E61; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.60); border-radius: 15px"></div>
        <div data-layer="VER MÉTRICAS COMPLETA" class="VerMTricasCompleta" style="left: 591px; top: 757px; position: absolute; color: white; font-size: 52px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">VER MÉTRICAS COMPLETA</div>
    </div>
</div>
</body>
</html>
